cpp/copasi/CopasiModelRunner/InitialDependencies.dot
cpp/copasi/CopasiModelRunner/SimulationDependencies.dot
cpp/copasi/CopasiModelRunner/example1.cps
cpp/copasi/CopasiModelRunner/example1.xml
cpp/copasi/CopasiModelRunner/build/*
cpp/copasi/CopasiModelRunner/Debug/*
R/MultiscaleAnalysis/.RData
R/MultiscaleAnalysis/.Rhistory
python/simulator/.settings
python/modelcreator/.settings
python/multiscalesite/.settings

results/nhanes/backup
results/nhanes/nhanes_flowLiver.Rdata
results/nhanes/nhanes_volLiver.Rdata
results/nhanes/nhanes_GEC.Rdata
results/nhanes/nhanes_GECkg.Rdata

*.Rhistory
*.RData
.~*
*~
*.sh~
*.pyc
*.dot
.metadata
.project
.pydevproject
.cproject
database/multiscale-galactose.2014*
.Rproj.user
*.pg_dump
.ipynb_checkpoints
