{% extends "sim/base_generic.html" %}
{% load staticfiles %}
{% load macros %}
{% loadmacros "sim/macros.html" %}


<!------------------------------------------------------->
<!--  MODEL											   -->
<!------------------------------------------------------->
{% block content %}
	<table id="table_items">
	<caption>Models [{{model_list.count}}]</caption>
    <thead>
	<tr>
		{% usemacro model_header %}
	</tr>
	</thead>
	<tbody>
	{% for model in model_list %}
		<tr>
		{% usemacro model_content %}
		</tr>    
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
