{% extends "sim/base_generic.html" %}
{% load kwacros %}
{% loadkwacros "sim/kwacros.html" %}

{% block content %}
[
		<a href="{% url 'sim:simulations' 'ALL' %}"><span class="ALL">ALL</span></a> | 
		<a href="{% url 'sim:simulations' 'DONE' %}"><span class="DONE">DONE</span></a> | 
		<a href="{% url 'sim:simulations' 'ASSIGNED'%}"><span class="ASSIGNED">ASSIGNED</span></a> | 
		<a href="{% url 'sim:simulations' 'UNASSIGNED'%}"><span class="UNASSIGNED">UNASSIGNED</span></a> | 
		<a href="{% url 'sim:simulations' 'ERROR'%}"><span class="ERROR">ERROR</span></a>
		] 
	<hr />
	<table id="table_items">
	<caption>Simulations 
		</caption>
	<thead>
	<tr>
		{% usekwacro simulation_header %}
	</tr>
	</thead>
	<tbody>
	{% for sim in simulations %}
		<tr>
			{% usekwacro simulation_content %}
		</tr>    
    {% endfor %}
    </tbody>
    </table>
    
    {% with items=simulations %}
  		{% usekwacro pagination %}
	{% endwith %}

{% endblock %}