{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'sim/core.css' %}" />
	<title>{% block title %}Multiscale-Galactose{% endblock %}</title>
	<meta http-equiv="refresh" content="3" />
</head>
<body>
	<div id="menu">
		<h1>Multiscale-Galactose</h1>
		{% block sidebar %}
		<ul>
		<li><a href="/sim/models/">Models</a></li>
		<li><a href="/sim/tasks/">Tasks</a></li>
		<li><a href="/sim/cores/">Cores</a></li>
		<li><a href="/sim/simulations/">Simulations</a></li>
		<li><a href="/sim/timecourses/">Timecourses</a></li>
		<li><a href="/sim/plots/">Plots</a></li>
		<li>&nbsp;</li>
		<li><a href="/admin/" target="_blank">Admin</a></li>
		</ul>
		{% endblock %}
		<img src="{% static 'sim/images/multiscale.png' %}">
	</div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>