{% extends "sim/base_generic.html" %}
{% block content %}
{% if cores_list %}
	<table id="table_items">
	<caption>Cores [{{cores_list.count}}]</caption>
    <thead>
	<tr>
		<th>id</th>
		<th>computer</th>
		<th>cpu</th>
		<th>time</th>
		<th>is active</th>
	</tr>
	</thead>
	<tbody>
	{% for core in cores_list %}
		<tr>
			<td>{{core.id}}</td>
			<td>{{core.computer}}</td>
			<td>{{core.cpu}}</td>
			<td>{{core.time}}</td>
			<td><span class="{% if core.active %}GOOD{% else %}BAD{% endif %}">{{core.active}}</span></td>
		</tr>    
    {% endfor %}
    </tbody>
    </table>    
{% else %}
	<h1>Cores</h1>
    <p>No cores listening for simulation.</p>
{% endif %}
{% endblock %}
