{% extends "sim/base_generic.html" %}

{% block content %}
<h1>Cores</h1>
{% if cores_list %}
	<table>
	<tr>
		<th>id</th>
		<th>computer</th>
		<th>cpu</th>
		<th>time</th>
		<th>is active</th>
	</tr>
	{% for core in cores_list %}
		<tr>
			<td>{{core.id}}</td>
			<td>{{core.computer}}</td>
			<td>{{core.cpu}}</td>
			<td>{{core.time}}</td>
			<td><span class="{% if core.active %}GOOD{% else %}BAD{% endif %}">{{core.active}}</span></td>
		</tr>    
    {% endfor %}
    </table>    
{% else %}
    <p>No cores listening for simulation.</p>
{% endif %}

{% endblock %}
