{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'sim/style.css' %}" />

<!-- n = seconds -->
<meta http-equiv="refresh" content="10" />

<h1>Cores</h1>
<h2>Currently listening for simulations</h2>
{% if cores_list %}
	<table>
	{% for core in cores_list %}
		<tr>
			<td>{{core.id}}</td>
			<td>{{core.computer}}</td>
			<td>{{core.cpu}}</td>
			<td>{{core.time}}</td>
		</tr>    
    {% endfor %}
    </table>
    
{% else %}
    <p>No cores listening for simulation.</p>
{% endif %}