{% extends "sim/base_generic.html" %}

{% block content %}
<h1 class="remove-bottom" style="margin-top: 40px">Docs &amp; Support</h1>
<hr />

<h3>Methods</h3>
<p>
	The detailed methods for modelling are available in the coming publication
	"Multi-scale modelling of hepatic liver metabolism".
	<br />
	If you have any questions, thoughts, concerns or feedback,
	please don't hesitate to email me at <a href="mailto:matthias.koenig@charite.de">matthias.koenig[at]charite.de</a>.
</p>

<h3>Data Management</h3>
<p>
	The project is available from the SEEK virtual liver data managment at
</p>

<h3>Code</h3>
<p>
	The model can be checked out from github via <code>
		here code</code>
</p>
</div>
{% endblock %}