{% extends "sim/base_generic.html" %}

{% block content %}
<h1>Models</h1>
{% if model_list %}
	<table>
	<tr>
		<th>pk</th>
		<th>id</th>
		<th>sbml</th>
		<th>report</th>
	</tr>
	{% for model in model_list %}
		<tr>
			<td>{{model.pk}}</td>
			<td>{{model.sbml_id}}</td>
			<td><a href="{{ model.file.url }}" target="_blank">{{model.sbml_id}}.xml</a></td>
			<td><a href="file:///home/mkoenig/multiscale-galactose-results/tmp_sbml/{{model.sbml_id}}.html" target="_blank">{{model.sbml_id}}.html</a></td>
		</tr>    
    {% endfor %}
    </table>
    
{% else %}
    <p>No models in database.</p>
{% endif %}
{% endblock %}
