{% extends "sim/base_generic.html" %}

{% block content %}
{% if integrations_list %}
	<table id="table_items">
	<caption>Integrations [{{integrations_list.count}}]</caption>
	<thead>
	<tr>
		<th>pk</th>
		<th>tstart</th>
		<th>tend</th>
		<th>tsteps</th>
		<th>absTol</th>
		<th>relTol</th>
	</tr>
	</thead>
	<tbody>
	{% for item in integrations_list %}
		<tr>
			<td>{{item.pk}}</td>
			<td>{{item.tstart}}</td>
			<td>{{item.tend}}</td>
			<td>{{item.tsteps}}</td>
			<td>{{item.abs_tol}}</td>
			<td>{{item.rel_tol}}</td>
		</tr>    
    {% endfor %}
    </tbody>
    </table>
{% else %}
	<h1>Integrations</h1>
    <p>No Integrations in database.</p>
{% endif %}

{% endblock %}