{% extends "sim/base_generic.html" %}

{% block content %}
<h1>Simulation {{sim}}</h1>
	<table>
	<tr>
		<th>pk</th>
		<th>model</th>
		<th>task</th>
		<th>integration</th>
		<th>parameters</th>
		<th>status</th>
		<th>timecourse</th>
	</tr>
		<tr>
			<td>{{sim.pk}}</td>
			<td><a href="{% url 'sim:simulation' sim.task.sbml_model.file.url}" target="_blank">
				{{sim.task.sbml_model}}</a></td>
			<td>{{sim.task}}</td>
			<td>{{sim.task.integration}}</td>
			<td>{{sim.parameters}}</td>
			<td><span class="{{sim.status}}">{{sim.status}}</span></td>
			<td> {% if sim.status == 'DONE' %}
				<a href="{{ sim.timecourse.file.url }}" target="_blank">{{sim.timecourse.pk}}</a>
				{% endif %}
			</td>
		</tr>    
    </table>
    
    <h2>Parameters</h2>    
    <table>
	<tr>
		<th>id</th>
		<th>value</th>
		<th>unit</th>
	</tr>
	{% for pars in sim.parameters.parameters.all %}
		<tr>
			<td>{{pars.name}}</td>
			<td>{{pars.value}}</td>
			<td>{{pars.unit}}</td>
		</tr>
		{% endfor %}    
    </table>
    
    
    <h2>Plots</h2>
    {% if sim.status == 'DONE' %}
    {% for plot in sim.timecourse.plot_set.all %}
    	<b>name</b>: {{plot.file.name}}<br />
    	<b>type</b>: {{plot.plot_type}}<br />
    	<img src="{{plot.file.url}}"></img><br />
    {% endfor %}
    {% else %}
    Simulation not DONE, no timecourse information available.<br />
    {% endif %}
    
    
    {% if sim_previous %}
		<a href="{% url 'sim:simulation' sim_previous.pk %}">Previous</a>
    {% else %} - {% endif %}
    <b>|</b>
    {% if sim_next %}
		<a href="{% url 'sim:simulation' sim_next.pk %}">Next</a>
    {% else %} - {% endif %}

{% endblock %}