{% extends "sim/base_generic.html" %}

{% block content %}
<h1>Simulations</h1>
{% if sim_list %}
	<table>
	<tr>
		<th>pk</th>
		<th>task</th>
		<th>parameters</th>
		<th>status</th>
		<th>core</th>
	</tr>
	{% for sim in sim_list %}
		
		<tr>
			<td>{{sim.pk}}</td>
			<td>{{sim.task}}</td>
			<td>{{sim.parameters}}</td>
			<td><span class="{{sim.status}}">{{sim.status}}</span></td>
			<td>{{sim.core}}</td>
		</tr>    
    {% endfor %}
    </table>
{% else %}
    <p>No Simulations.</p>
{% endif %}
{% endblock %}