{% extends "sim/base_generic.html" %} {% load staticfiles %}
{% block content %}

	<table id="table_items">
	<caption>Simulations [
		<a href="{% url 'sim:simulations' 'ALL' %}"><span class="ALL">ALL</span></a> | 
		<a href="{% url 'sim:simulations' 'DONE' %}"><span class="DONE">DONE</span></a> | 
		<a href="{% url 'sim:simulations' 'ASSIGNED'%}"><span class="ASSIGNED">ASSIGNED</span></a> | 
		<a href="{% url 'sim:simulations' 'UNASSIGNED'%}"><span class="UNASSIGNED">UNASSIGNED</span></a> | 
		<a href="{% url 'sim:simulations' 'ERROR'%}"><span class="ERROR">ERROR</span></a>
		] 
		</caption>
	<thead>
	<tr>
		<th>pk</th>
		<th>model</th>
		<th>task</th>
		<th>parameters</th>
		<th>status</th>
		<th>timecourse</th>
		<th>simulator</th>
		<th>priority</th>
		<th>duration</th>
		<th>core</th>
		<th>hanging</th>
		
	</tr>
	</thead>
	<tbody>
	{% for sim in simulations %}
		<tr>
			<td><a href="{% url 'sim:simulation' sim.pk %}">{{sim.pk}}</a></td>
			<td>{{sim.task.sbml_model}}</td>
			<td>{{sim.task}}</td>
			<td>{{sim.parameters}}</td>
			<td><span class="{{sim.status}}">{{sim.status}}</span></td>
			<td>{% if sim.status == 'DONE' %}
				<a href="{{ sim.timecourse.file.url }}" target="_blank"><img src="{% static 'sim/images/csv.png' %}" height="15"></img></a>
				{% endif %}
			</td>
		    <td>{{sim.simulator}}</td>
			<td>{{sim.priority}}</td>
			<td>{{sim.duration}}</td>
			<td>{{sim.core}}</td>
			<td> {% if sim.hanging %}<span class="BAD">{{sim.hanging}}</span>{% endif %}</td>
	
		</tr>    
    {% endfor %}
    </tbody>
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if simulations.has_previous %}
            <a href="?page={{ simulations.previous_page_number }}">previous</a>
        {% else %}
         previous
        {% endif %}
		 | 
        {% if simulations.has_next %}
            <a href="?page={{ simulations.next_page_number }}">next</a>
        {% endif %}
        
        <span class="current">
           [{{ simulations.number }} of {{ simulations.paginator.num_pages }}]
        </span>
    </span>
	</div>

{% endblock %}