{% extends "sim/base_generic.html" %}

{% block content %}
<h1>Simulations</h1>

{% if simulations %}
	<table>
	<tr>
		<th>pk</th>
		<th>model</th>
		<th>task</th>
		<th>parameters</th>
		<th>status</th>
		<th>core</th>
		<th>duration</th>
		<th>timecourse</th>
	</tr>
	{% for sim in simulations %}
		
		<tr>
			<td><a href="{% url 'sim:simulation' sim.pk %}">{{sim.pk}}</a></td>
			<td>{{sim.task.sbml_model}}</td>
			<td>{{sim.task}}</td>
			<td>{{sim.parameters}}</td>
			<td><span class="{{sim.status}}">{{sim.status}}</span></td>
			<td>{{sim.core}}</td>
			<td>{{sim.duration}}</td>
			<td><a href="{{ sim.timecourse.file.url }}" target="_blank">{{sim.timecourse.file.name}}</a></td>
		</tr>    
    {% endfor %}
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if simulations.has_previous %}
            <a href="?page={{ simulations.previous_page_number }}">previous</a>
        {% else %}
         previous
        {% endif %}
		 | 
        {% if simulations.has_next %}
            <a href="?page={{ simulations.next_page_number }}">next</a>
        {% endif %}
        
        <span class="current">
           [{{ simulations.number }} of {{ simulations.paginator.num_pages }}]
        </span>
    </span>
	</div>
{% else %}
    <p>No Simulations in database.</p>
{% endif %}

{% endblock %}