{% extends "sim/base_generic.html" %}

{% block content %}
<h1>Tasks</h1>
{% if tasks_list %}
	<table>
	<tr>
		<th>pk</th>
		<th>model</th>
		<th>integration</th>
		<th>simulations</th>
	</tr>
	{% for task in tasks_list %}
		
		<tr>
			<td>{{task.pk}}</td>
			<td><a href="{{task.sbml_model.file.url}}" target="_blank">{{task.sbml_model}}</a></td>
			<td>{{task.integration}}</td>
			<td>
				{% for sim in task.simulation_set.all %}
					<a href="{% url 'sim:simulation' sim.pk %}">{{sim.pk}}</a>
				{% endfor %}	
			</td>
		</tr>    
    {% endfor %}
    </table>
{% else %}
    <p>No Tasks.</p>
{% endif %}
{% endblock %}