{% extends "sim/base_generic.html" %}

{% block content %}
<h1>Task</h1>
	<table>
	<tr>
		<th>pk</th>
		<th>model</th>
		<th>integration</th>
		<th>simulations</th>
		<th>status</th>
		<th>info</th>
	</tr>
		<tr>
			<td>{{task.pk}}</td>
			<td><a href="{{task.sbml_model.file.url}}" target="_blank">{{task.sbml_model}}</a></td>
			<td>{{task.integration}}</td>
			<td>{{task.sim_count}}</td> 
			<td>
				<span class="DONE">{{task.done_count}}</span> | 
				<span class="ASSIGNED">{{task.assigned_count}}</span> | 
				<span class="UNASSIGNED">{{task.unassigned_count}}</span> 	
			</td>
			<td>{{task.info}}</td>
		</tr>
    </table>
    {% comment %}
 		<h2>Parameter overview</h2>
 		<img src="file:///home/mkoenig/multiscale-galactose-results/test/{{task.sbml_model.sbml_id}}_T{{task.id}}.png"></img>
 	{% endcomment %}
{% endblock %}