{% extends "sim/base_generic.html" %}

{% block content %}
<h1>Task</h1>
	<table>
	<tr>
		<th>pk</th>
		<th>model</th>
		<th>integration</th>
		<th>simulations</th>
	</tr>
		<tr>
			<td>{{task.pk}}</td>
			<td><a href="{{task.sbml_model.file.url}}" target="_blank">{{task.sbml_model}}</a></td>
			<td>{{task.integration}}</td>
			<td>
				{% for sim in task.simulation_set.all %}
					<a href="{% url 'sim:simulation' sim.pk %}">{{sim.pk}}</a>
				{% endfor %}	
			</td>
		</tr>
    </table>
 <h2>Parameter overview</h2>
 <img src="file:///home/mkoenig/multiscale-galactose-results/test/{{task.sbml_model.sbml_id}}_T{{task.id}}.png"></img>
{% endblock %}