{% extends "sim/base_generic.html" %} {% load staticfiles %}
{% block content %}
{% if timecourses %}
	<table id="table_items">
	<caption>Timecourses</caption>
	<thead>
	<tr>
		<th>pk</th>
		<th>sim</th>
		<th>csv</th>
		<th>file</th>
	</tr>
	</thead>
	<tbody>
	{% for tc in timecourses %}
		<tr>
			<td>{{ tc.pk }}</td>
			<td><a href="{% url 'sim:simulation' tc.simulation.pk %}">{{ tc.simulation }}</a></td>
			<td><a href="{{ tc.file.url }}"><img src="{% static 'sim/images/csv.png' %}" height="15" /></a></td>
			<td><a href="{{ tc.file.url }}">{{ tc.file.name }}</a></td>
		</tr>    
    {% endfor %}
    </tbody>
    </table>
 
    <div class="pagination">
    <span class="step-links">
        {% if timecourses.has_previous %}
            <a href="?page={{ timecourses.previous_page_number }}">previous</a>
        {% else %}
        previous
        {% endif %}
		 | 
        {% if timecourses.has_next %}
            <a href="?page={{ timecourses.next_page_number }}">next</a>
        {% endif %}
        
        <span class="current">
           [{{ timecourses.number }} of {{ timecourses.paginator.num_pages }}]
        </span>
    </span>
	</div>
{% else %}
	<h1>Timecourses</h1>
    <p>No Timecourses in database.</p>
{% endif %}

{% endblock %}