<!DOCTYPE html>{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="Multiscale-model of hepatic metabolism">
	<meta name="author" content="Matthias Koenig">
    <link rel="icon" href="{% static 'simapp/images/favicon.ico' %}">

    <title>{% block title %}Multiscale-Galactose{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'simapp/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'simapp/css/my.css' %}" rel="stylesheet">
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'simapp/stylesheets/mysite.css' %}" /> -->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'simapp/stylesheets/jquery.dataTables.min.css' %}" /> -->


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<meta http-equiv="refresh" content="120" />

	<!-- JAVASCRIPT -->
	<!-- data table
	<script type="text/javascript" language="javascript" src="{% static 'simapp/js/jquery.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'simapp/js/jquery.dataTables.min.js' %}"></script>
	
	<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {			
    			$('#table_items').dataTable({
    				"bPaginate": true,
    			}); 			
			});
	</script>
	-->
	
	<!-- Old data table
	<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {			
    			$('#table_items').dataTable( {
        			"bPaginate": false,
        			"bLengthChange": false,
       				"bFilter": true,
        			"bSort": true,
        			"bInfo": false,
        			"bAutoWidth": false
    			}); 			
		} );
	</script>
	-->
  </head>

 <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Multiscale-Galactose</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'simapp:models'%}">Models</a></li>

            <li><a href="{% url 'simapp:tasks'%}">Tasks</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Simulations <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'simapp:simulations'%}">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Simulation Status</li>
                <li><a href="{% url 'simapp:simulations'%}">Done</a></li>
                <li><a href="{% url 'simapp:simulations'%}">Assigned</a></li>
                <li><a href="{% url 'simapp:simulations'%}">Unassigned</a></li>
                <li><a href="{% url 'simapp:simulations'%}">Error</a></li>
              </ul>
            </li>

            <li><a href="{% url 'simapp:timecourses'%}">Timecourses</a></li>
            <li><a href="{% url 'simapp:integrations'%}">Integrations</a></li>
			<li><a href="{% url 'simapp:cores'%}">Cores</a></li>


          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'simapp:documentation'%}">About</a></li>
            <li class="active"><a href="{% url 'admin:index' %}">Admin</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container">

	<!-- NAVIGATION -->
	<!--
	<div class="navigation">
	{% block sidebar %}
	<hr />
	<h3 id="logo">Multiscale-Galactose</h3>
	<hr />
	<ul>
			<li><a href="{% url 'simapp:models'%}">Models</a></li>
			<li><a href="{% url 'simapp:tasks'%}">Tasks</a></li>
			<li><a href="{% url 'simapp:simulations'%}">Simulations</a></li>
			<li><a href="{% url 'simapp:timecourses'%}">Timecourses</a></li>
			<li><a href="{% url 'simapp:integrations'%}">Integrations</a></li>
			<li><a href="{% url 'simapp:cores'%}">Cores</a></li>
			<li><a href="{% url 'simapp:documentation'%}">Docs &amp; Support</a></li>
	</ul>

	<ul>
			<li><a href="{% url 'admin:index' %}" target="_blank">Admin</a></li>
	</ul>
	{% endblock %}
	</div>
    -->
	
	<!-- CONTENT -->
	<div class="content">
	{% block content %}{% endblock %}
	</div>
	
	<!-- FOOTER -->
	<div class="footer">
		<hr />
	    <p>&copy; 2015 Matthias Koenig. Powered by <a href="https://www.djangoproject.com"  target="_blank">
        <img src="{% static 'simapp/images/django.png' %}" height="15" alt="django" />
        </a>. Source available on <a href="https://github.com/matthiaskoenig/multiscale-galactose/" target="_blank">
        <img src="{% static 'simapp/images/github.png' %}" height="20" alt="GitHub" />
        </a>.
        </p>
    </div>



    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'simapp/js/bootstrap.min.js' %}"></script>
    
  </body>
</html>
