<!DOCTYPE html>{% load staticfiles %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Multiscale-Galactose{% endblock %}</title>

	<meta name="description" content="Multiscale-model of hepatic metabolism">
	<meta name="author" content="Matthias Koenig">
	<meta http-equiv="refresh" content="120" />

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'simapp/stylesheets/mysite.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'simapp/stylesheets/jquery.dataTables.min.css' %}" />
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- FAVICON -->
	<link rel="shortcut icon" href="{% static 'simapp/images/favicon.ico' %}">
	
	<!-- JAVASCRIPT -->
	<script type="text/javascript" language="javascript" src="{% static 'simapp/js/jquery.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'simapp/js/jquery.dataTables.min.js' %}"></script>
	
	<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {			
    			$('#table_items').dataTable({
    				"bPaginate": true,
    			}); 			
			});
	</script>
	
	<!-- Old data table
	<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {			
    			$('#table_items').dataTable( {
        			"bPaginate": false,
        			"bLengthChange": false,
       				"bFilter": true,
        			"bSort": true,
        			"bInfo": false,
        			"bAutoWidth": false
    			}); 			
		} );
	</script>
	-->
</head>

<body>	
	<!-- NAVIGATION -->
	{% block sidebar %}
	<nav>
	<hr />
	<h3 id="logo">Multiscale-Galactose</h3>
	<hr />
	<ul>
			<li><a href="{% url 'simapp:models'%}">Models</a></li>
			<li><a href="{% url 'simapp:tasks'%}">Tasks</a></li>
			<li><a href="{% url 'simapp:simulations'%}">Simulations</a></li>
			<li><a href="{% url 'simapp:timecourses'%}">Timecourses</a></li>
			<li><a href="{% url 'simapp:integrations'%}">Integrations</a></li>
			<li><a href="{% url 'simapp:cores'%}">Cores</a></li>
			<li><a href="{% url 'simapp:documentation'%}">Docs &amp; Support</a></li>
	</ul>

	<ul>
			<li><a href="{% url 'admin:index' %}" target="_blank">Admin</a></li>
	</ul>
	</nav>
	{% endblock %}
	
	<!-- CONTENT -->
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	
	<!-- FOOTER -->
	<div id="footer">
	    <p>&copy; 2015 Matthias Koenig. Powered by <a href="https://www.djangoproject.com"  target="_blank">
        <img src="{% static 'simapp/images/django.png' %}" height="15" alt="django" />
        </a>. Source available on <a href="https://github.com/matthiaskoenig/multiscale-galactose/" target="_blank">
        <img src="{% static 'simapp/images/github.png' %}" height="20" alt="GitHub" />
        </a>.
        </p>
    </div>
    
</body>
</html>