{% extends "simapp/base_generic.html" %}
{% load staticfiles %}
{% load macros %}
{% loadmacros "simapp/macros.html" %}

<!------------------------------------------------------->
<!--  CORES											   -->
<!------------------------------------------------------->
{% block content %}
    <h3>Cores</h3>
    <table id="table_items" class="table table-striped table-bordered">
        <thead>
        <tr>
            {% usemacro core_header %}
        </tr>
        </thead>
        <tbody>
        {% for core in core_list %}
            <tr>
                {% usemacro core_content %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if not core_list %}
        <p>No cores in database.</p>
    {% endif %}
{% endblock %}
