{% extends "simapp/base_generic.html" %}
{% load staticfiles %}
{% load macros %}
{% loadmacros "simapp/macros.html" %}
{% macro model_header %}
		<th>pk</th>
		<th>id</th>
		<th>sbml</th>
		<th>report</th>
{% endmacro %}
{% macro model_content %}
			<td>{{model.pk}}</td>
			<td>{{model.sbml_id}}</td>
			<td><a href="{{ model.file.url }}" target="_blank"><img height="12" src="{% static 'simapp/images/sbml_small.jpeg' %}"></a></td>
			<td><a href="{% url 'sim:report' model.pk %}" target="_blank">
				<img height="12" src="{% static 'simapp/images/html5_small.jpeg' %}"></a></td>
{% endmacro %},
{% block content %}
	<table id="table_items">
	<caption>Cores [{{cores_list.count}}]</caption>
    <thead>
	<tr>
		{% usemacro core_header %}
	</tr>
	</thead>
	<tbody>
	{% for core in cores_list %}
		<tr>
			{% usemacro core_content %}
		</tr>    
    {% endfor %}
    </tbody>
    </table>    
{% endblock %}
