{% load staticfiles %}
{% load macros %}
<!------------------------------------------------------->
<!--  SIMULATION 									   -->
<!------------------------------------------------------->
{% macro simulation_header %}
		<th>pk</th>
		<th>model</th>
		<th>task</th>
		<th>method</th>
		<th>parameters</th>
		<th>status</th>
		<th>duration</th>
		<th>core</th>
		<th>result</th>
{% endmacro %}
{% macro simulation_content %}
			<td><a href="{% url 'simapp:simulation' sim.pk %}">{{sim.pk}}</a></td>
			<td>{{sim.task.model.model_id}}</td>
			<td>{{sim.task}}</td>
			<td><a href="{%  url 'simapp:methods'%}">{{ sim.task.method }}</a></td>
			<td>{% for p in sim.parameters.all %}{{ p }}<br />{% endfor %}</td>
			<td><span class="{{sim.status}}">{{sim.status}}</span></td>
			<td>{{sim.duration}}</td>
			<td>{{sim.core}}</td>
            <!-- TODO: update to multiple results -->
			<td> {% if sim.is_done %}
				<a href="{{ sim.result.file.url }}" target="_blank">{{sim.result}}</a>
				{% endif %}
			</td>
{% endmacro %}

<!------------------------------------------------------->
<!--  PARAMETER 									   -->
<!------------------------------------------------------->
{% macro parameter_header %}
		<th>id</th>
		<th>value</th>
		<th>unit</th>
		<th>type</th>
{% endmacro %}
{% macro parameter_content %}
			<td>{{pars.name}}</td>
			<td>{{pars.value}}</td>
			<td>{{pars.unit}}</td>
			<td>{{pars.ptype}}</td>
{% endmacro %}

<!------------------------------------------------------->
<!--  MODEL											   -->
<!------------------------------------------------------->
{% macro model_header %}
		<th>pk</th>
		<th>model</th>
        <th>file</th>
        <th>report</th>
        <th>tasks</th>
		<th>md5</th>
{% endmacro %}
{% macro model_content %}
			<td>{{model.pk}}</td>
			<td>{{model}}</td>

        <!-- TODO: check for model type, i.e. SBML or CELLML -->
			<td><a href="{{ model.file.url }}" target="_blank"><img height="12" src="{% static 'simapp/images/sbml.png' %}"></a></td>
			<td><a href="{% url 'simapp:report' model.pk %}" target="_blank">
				<img height="12" src="{% static 'simapp/images/html5.png' %}"></a></td>
            <td>{% for task in model.tasks.all %}
                <a href="{% url 'simapp:task' task.pk %}">{{ task }}</a> ({{ task.info }})<br/>
            {% endfor %}
            </td>
			<td>{{model.md5_short}}</td>

{% endmacro %}


<!------------------------------------------------------->
<!--  RESULT    									   -->
<!------------------------------------------------------->
{% macro result_header %}
		<th>pk</th>
		<th>sim</th>
		<th>csv</th>
		<th>file</th>
{% endmacro %}
		
{% macro result_content %}
			<td>{{ result.pk }}</td>
			<td><a href="{% url 'simapp:simulation' tc.simulation.pk %}">{{ result.simulation }}</a></td>
			<td><a href="{{ result.file.url }}"><img src="{% static 'simapp/images/csv.png' %}" height="15" /></a></td>
			<td><a href="{{ result.file.url }}">{{ result.file.name }}</a></td>
{% endmacro %}

<!------------------------------------------------------->
<!--  METHOD     									   -->
<!------------------------------------------------------->
{% macro method_header %}
    <th>pk</th>
    <th>method_type</th>
	<th>settings</th>
{% endmacro %}
		
{% macro method_content %}
    <td>{{method.pk}}</td>
    <td>{{method.method_type_str}}</td>
    <td>{% for s in method.settings.all %}{{ s.key_str }} = {{s.value}}<br/>{% endfor %}</td>
{% endmacro %}

<!------------------------------------------------------->
<!--  TASK 											   -->
<!------------------------------------------------------->
{% macro task_header %}
		<th>pk</th>
        <th>model</th>
		<th>status</th>
		<th>priority</th>
		<th>model</th>
		<th>parameters</th>
		<th>method</th>
		<th>info</th>
{% endmacro %}
{% macro task_content %}
			<td><a href="{% url 'simapp:task' task.pk %}">{{task.pk}}</a></td>
            <td>{{task.model}} </td>
			<td>
				<strong>{{task.sim_count}}</strong>
				[<span class="text-success">{{task.done_count}}</span>|<span class="ASSIGNED">{{task.assigned_count}}</span>|<span class="UNASSIGNED">{{task.unassigned_count}}</span>|<span class="text-danger">{{task.error_count}}</span>]
			</td>
			<td>{{task.priority}}</td>
			<td>{{ task.sbml_model.model_id }} <a href="{{ task.sbml_model.file.url }}" target="_blank"><img height="12" src="{% static 'simapp/images/sbml.png' %}"></a>
			    <a href="{% url 'simapp:report' task.model.pk %}" target="_blank"><img height="12" src="{% static 'simapp/images/html5.png' %}"></a>
            </td>
			<td><a href="{% url 'simapp:task_parameters' task.pk %}" target="_blank"><img height="12" src="{% static 'simapp/images/params_small.png' %}"></a></td>

			<td><strong>{{task.method}}({{task.method.method_type_str}})</strong><br/>
            {% for s in task.method.settings.all %}{{ s.key_str }} = {{s.value}}<br/>{% endfor %}
            </td>
			<td width="400px">{{task.info}}</td>
{% endmacro %}

<!------------------------------------------------------->
<!--  CORE      									   -->
<!------------------------------------------------------->
{% macro core_header %}
    <th>id</th>
	<th>computer</th>
	<th>ip</th>
	<th>cpu</th>
	<th>time</th>
	<th>is active</th>
{% endmacro %}
		
{% macro core_content %}
<td>{{core.id}}</td>
    <td>{{core.computer}}</td>
    <td>{{core.ip}}</td>
    <td>{{core.cpu}}</td>
    <td>{{core.time}}</td>
    <!-- TODO: define proper CSS classes -->
    <td><span class="{% if core.active %}GOOD{% else %}BAD{% endif %}">{{core.active}}</span></td>
{% endmacro %}

<!------------------------------------------------------->
<!--  PAGINATION  									   -->
<!------------------------------------------------------->
{% macro pagination %}
  <div class="pagination">
    <span class="step-links">
        {% if items.has_previous %}
            <a href="?page={{ items.previous_page_number }}">previous</a>
        {% else %}
         previous
        {% endif %}
		 | 
        {% if items.has_next %}
            <a href="?page={{ items.next_page_number }}">next</a>
        {% endif %}
        
        <span class="current">
           [{{ items.number }} of {{ items.paginator.num_pages }}]
        </span>
    </span>
	</div>
{% endmacro %}

<!------------------------------------------------------->