{% extends "simapp/base_generic.html" %}
{% load macros %}
{% loadmacros "simapp/macros.html" %}


<!------------------------------------------------------->
<!--  METHODS										   -->
<!------------------------------------------------------->
{% block content %}
    <h3>Methods</h3>
    <table id="table_items" class="table table-striped table-bordered">
        <thead>
        <tr>{% usemacro method_header %}</tr>
        </thead>
        <tbody>
        {% for method in method_list %}
            <tr>
                {% usemacro method_content %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}