{% extends "simapp/base_generic.html" %}
{% load staticfiles %}
{% load macros %}
{% loadmacros "simapp/macros.html" %}

<!------------------------------------------------------->
<!--  MODELS										   -->
<!------------------------------------------------------->
{% block content %}
    <h3>Models</h3>
    <table id="table_items" class="table table-striped table-bordered">
        <thead>
        <tr>
            {% usemacro model_header %}
        </tr>
        </thead>
        <tbody>
        {% for model in model_list %}
            <tr>
                {% usemacro model_content %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


