{% extends "simapp/base_generic.html" %}
{% load staticfiles %}
{% load macros %}
{% loadmacros "simapp/macros.html" %}


<!------------------------------------------------------->
<!--  MODEL											   -->
<!------------------------------------------------------->
{% block content %}
	<table class="table" id="table_items">
	<caption>Models [{{model_list.count}}]</caption>
    <thead>
	<tr>
		{% usemacro model_header %}
	</tr>
	</thead>
	<tbody>
	{% for model in model_list %}
		<tr>
		{% usemacro model_content %}
		</tr>    
    {% endfor %}
    </tbody>
    </table>

    {%  if not model_list %}
        <p>No models in database.</p>
    {%  endif %}

{% endblock %}

{% for foo in model %}

{% endfor %}

