{% extends "simapp/base_generic.html" %}
{% load macros %}
{% loadmacros "simapp/macros.html" %}

<!------------------------------------------------------->
<!--  TASK  										   -->
<!------------------------------------------------------->
{% block content %}
    <h1>Task</h1>
    <table id="table_items" class="table table-striped table-bordered">
        <tr>{% usemacro task_header %}</tr>
        <tr>
            {% usemacro task_content %}
        </tr>
    </table>

    <!-- Simulations for task -->
    <table id="table_items" class="table table-striped table-bordered table-condensed">
        <tr>{% usemacro simulation_header %}</tr>
        {% for sim in task.simulation_set.all|slice:":10" %}
            {% if sim %}
                <tr>
                    {% usemacro simulation_content %}
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td>...</td>
        </tr>
    </table>

{% endblock %}